<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/dashboard']">SAPBE<p class="text d-none d-md-block">Sistema de Apoyo para el Programa de Becas de Excelencia</p></a>
  <div ngbDropdown class="dropdown d-inline-block mt-4">
    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>usuario</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a class="dropdown-item" [routerLink]="['/login']">Cerrar sesión</a>
    </div>
  </div>
</nav>
