<div class="login">
  <div class="square">
    <div class="form">
      <h4>Iniciar sesión</h4>
      <form>
        <div class="form-group">
          <label for="inputEmail"><i class="fas fa-envelope"></i> Correo</label>
          <input type="email" class="form-control" id="inputEmail1">
        </div>
        <div class="form-group">
          <label for="inputPassword"><i class="fas fa-key"></i> Contraseña</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn mr-4" href="/dashboard">Iniciar sesión</button>
        <a href="/register">Registrate</a>
      </form>
    </div>
  </div>
</div>
